In [123]:
from pandas.io.json import json_normalize
import meli
from __future__ import print_function
import time
import meli
from meli.rest import ApiException
from pprint import pprint
import pandas as pd
pd.set_option('display.max_columns', 500)

In [157]:
token = open("token.txt", "r").read()
refresh_token = open("refresh_token.txt", "r").read()

In [158]:
token

'APP_USR-7590455332194333-050418-0533795d0584057ceb4f9e52a8c28e87-246777298'

In [159]:
refresh_token

'TG-609195ef0bc6b60007e4d9cb-246777298'

In [160]:
client_id = '7590455332194333' # Your client_id
client_secret = 'FYmyKCYaVvMItou46X0M8IGv48htL1QW' # Your client_secret
redirect_uri = 'https://localhost:0000' # Your redirect_uri
grant_type = "refresh_token"

In [161]:
##### este codigo intenta pegarla a la api, si falla refresca el token 
def search_and_refresh (resource, token, refresh_token):
# Enter a context with an instance of the API client
    with meli.ApiClient() as api_client:
        # Create an instance of the API class
        api_instance = meli.RestClientApi(api_client)
    try:
        # Resource path GET
        api_response = api_instance.resource_get(resource, token)

        #print(api_response)
    except ApiException as e:
        print("Refrescando automaticamente token-Exception when calling RestClientApi->resource_get: %s\n" % e)
        with meli.ApiClient() as api_client:
            api_instance = meli.OAuth20Api(api_client)
            api_response = api_instance.get_token(grant_type=grant_type, client_id=client_id, client_secret=client_secret, redirect_uri=redirect_uri, refresh_token =refresh_token )
            token = api_response.get("access_token")
            file = open("token.txt", "w") 
            file.write(token) 
            file.close() 
            refresh_token = api_response.get("refresh_token")
            file = open("refresh_token.txt", "w") 
            file.write(refresh_token) 
            file.close() 
    return api_response

In [129]:
file = open("token.txt", "w") 
file.write(token) 
file.close() 
refresh_token = api_response.get("refresh_token")
file = open("refresh_token.txt", "w") 
file.write(refresh_token) 
file.close()

TypeError: write() argument must be str, not None

In [98]:
producto= "mesa"
limite= "100"
offset = "50"

In [87]:
resource = f'/sites/MLA/search?q={producto}&limit={limite}' # A resource example like items, search, category, etc
    #/sites/MLA/search?q=ipod nano&limit=10

In [88]:
api_response = search_and_refresh(resource, token, refresh_token)
result = json_normalize(api_response.get("results"))

<ipython-input-88-ee7678dffbb3>:2: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  result = json_normalize(api_response.get("results"))

In [101]:
resource = f'/sites/MLA/search?q={producto}&search_type=scan'

In [ ]:
resource = f'/sites/MLA/search?q={producto}&search_type=scan'

In [ ]:
curl -X GET https://api.mercadolibre.com/trends/MLA/

In [119]:
resource = '/trends/MLA/'

In [120]:
api_response1 = search_and_refresh(resource, token, refresh_token)

In [121]:
result = json_normalize(api_response1)

<ipython-input-121-81201da8e4ff>:1: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  result = json_normalize(api_response1)

In [122]:
result

                   keyword                                                url
0    planchita profesional  https://listado.mercadolibre.com.ar/electrodom...
1           sabanas piñata  https://hogar.mercadolibre.com.ar/muebles-otro...
2                   maceta  https://hogar.mercadolibre.com.ar/jardines-ext...
3                  calefon  https://listado.mercadolibre.com.ar/electrodom...
4            gorras hombre  https://ropa.mercadolibre.com.ar/accesorios-mo...
..                     ...                                                ...
96                 amazfit        https://listado.mercadolibre.com.ar/amazfit
97            moto 110 0km  https://motos.mercadolibre.com.ar/scooters/mot...
98      mochila maternales  https://listado.mercadolibre.com.ar/articulos-...
99                  furgon           https://autos.mercadolibre.com.ar/furgon
100    set de herramientas  https://listado.mercadolibre.com.ar/herramient...

[101 rows x 2 columns]

In [94]:
result[["price","sold_quantity"]]

#price
#Cantidad vendida total
#cantidad de publicaciones

       price  sold_quantity
0    6599.00            500
1   16100.00            250
2    3800.00            250
3    7899.00            250
4   13800.00            250
5    4999.00            200
6   13590.00            200
7   22950.00             50
8    7000.00            100
9    7699.00            500
10   8900.00             50
11   4600.00            200
12   7299.00            150
13   7920.00            250
14   6000.00             50
15   9890.00            250
16   9200.00            500
17  11800.00            250
18   6890.00            100
19   8800.00            500
20  17100.00            250
21   1999.00            200
22   2089.00            500
23  13900.00            100
24   9600.00             25
25    999.31            500
26   3854.00             25
27    999.31            500
28  11400.00            500
29   8999.00             50
30   8390.00            150
31   3650.00            500
32   1950.00            200
33   9800.00            200
34    880.00            500
35  12690.00            100
36   5789.83            500
37   2549.99            500
38   6610.00            500
39   2392.90            500
40   9999.00            500
41   4269.00            500
42   2089.00            250
43   2279.05            250
44   5129.00            250
45  10990.00            150
46  10499.00            500
47  13990.00            150
48  15490.00             50
49  16290.00              5